<div class="setting-row" [formGroup]="props">
        <h1>
            定位
        </h1>
        <div class="setting-row-input" *ngIf="!_noup">
            <div class="setting-row-input-label">
                上:
            </div>
            <div class="setting-row-input-content">
                <input type="number" formControlName="top.px">
            </div>
            <span class="setting-row-input-unit">px</span>
        </div>
        <div class="setting-row-input">
            <div class="setting-row-input-label">
                右:
            </div>
            <div class="setting-row-input-content">
                <input type="number" formControlName="right.px">
            </div>
            <span class="setting-row-input-unit">px</span>
        </div>
        <div class="setting-row-input" *ngIf="!_nodown">
            <div class="setting-row-input-label">
                下:
            </div>
            <div class="setting-row-input-content">
                <input type="number" formControlName="bottom.px">
            </div>
            <span class="setting-row-input-unit">px</span>
        </div>
        <div class="setting-row-input">
            <div class="setting-row-input-label">
                左:
            </div>
            <div class="setting-row-input-content">
                <input type="number" formControlName="left.px">
            </div>
            <span class="setting-row-input-unit">px</span>
        </div>
    </div>