<div menuContainer>
    <div menuSubmenu>
        <list>
            <list-item class="am-menu-selected">item</list-item>
            <list-item>item</list-item>
            <list-item>item</list-item>
            <list-item>item</list-item>
        </list>
    </div>
    <div menuSubmenu>
        <list>
            <list-item class="am-menu-selected">item</list-item>
            <list-item>item</list-item>
            <list-item>item</list-item>
            <list-item>item</list-item>
        </list>
    </div>
    <div menuSubmenu>
        <list>
            <list-item class="am-menu-selected">item</list-item>
            <list-item>item</list-item>
            <list-item>item</list-item>
            <list-item>item</list-item>
        </list>
    </div>
</div>