.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex-container {
    display: flex;
    flex-direction: row;
    .flex-center {
        flex: 1;
        width: 100%;
    }
}