.meepo-design {
    display: flex;
    height: 100%;
    width: 100%;
    .editing {
        cursor: pointer;
    }
    &-history,
    &-library,
    &-preview,
    &-setting,
    &-pages {
        min-height: 80px;
        position: relative;
    }
    &-left {
        &-container {
            display: flex;
            flex-direction: column;
            height: calc(100% - 44px);
            overflow: auto;
            width: 250px;
            background: #efefef;
        }
        &-header {
            list-style: none;
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: row;
            li {
                text-align: center;
                flex: 1;
                height: 44px;
                line-height: 44px;
                margin: 0px;
                &.active {
                    background: rgb(219, 72, 4);
                    color: #fff;
                }
            }
        }
    }
    &-pages {
        display: block;
        background: #efefef;
        width: 250px;
        max-height: 100%;
        overflow: auto;
    }
    &-history {
        display: block;
        background: #efefef;
        width: 250px;
        max-height: 100%;
        overflow: auto;
        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
            li {
                line-height: 30px;
                background: #efefef;
                cursor: pointer;
                &:hover {
                    opacity: .8;
                    background: #fff;
                }
            }
        }
    }
    &-library {
        background: rgb(255, 255, 255);
        width: 220px;
        overflow: auto;
        padding: 0 5px;
        margin-top: 5px;
        &:after {
            clear: both;
            content: " ";
        }
        .grid-item {
            float: left;
            width: calc(50% - 5px);
            text-align: center;
            background: #efefef;
            border: 1px solid #fff;
            cursor: pointer;
            height: 44px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &:hover {
                background: #ccc;
            }
        }
    }
    &-preview {
        display: flex;
        background: rgb(243, 243, 243);
        width: 450px;
        max-height: 100%;
        overflow: auto;
        flex-direction: column;
        &-iphone {
            position: relative;
            height: 100%;
            width: 414px;
            background: #fff;
            max-height: 736px;
            min-height: 736px;
            overflow: auto;
        }
        .device {
            margin: 0 auto;
        }
        &-deletor {
            min-height: 150px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: gray;
            color: #fff;
            margin-bottom: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }
        &-iphone {
            margin: 0 auto;
        }
        &-container {
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
        .device-content {
            overflow: auto;
            width: 100%;
            height: 100%;
        }
    }
    &-setting {
        display: block;
        background: #efefef;
        flex: 1;
        padding: 0 10px;
        border-left: 10px solid #fff;
        overflow: auto;
        &-empty {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: .8em;
            color: gray;
        }
        &-drop {
            position: relative;
            border: 1px dashed red;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            color: gray;
            background: #fff;
        }
        &-nav {
            display: flex;
            flex-direction: row;
            background: rgb(0, 0, 0);
            color: #fff;
            border-left: 5px solid rgb(255, 0, 0);
            padding: 5px 10px;
            a {
                color: #fff;
            }
        }
    }
    &-footer {
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        background: rgba(0, 0, 0, .5);
        &-save,
        &-preview,
        &-post {
            width: 8em;
            text-align: center;
            height: 100%;
            line-height: 60px;
        }
        &-save {
            background: #c74a06;
        }
        &-preview {
            background: #004fbf;
        }
        &-post {
            background: #0d7355;
        }
        a {
            text-decoration: none;
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.meepo-lajij {
    position: absolute;
    bottom: 100px;
    right: 10px;
    height: 100px;
    border-radius: 50%;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: red;
    color: #fff;
}

.meepo-design-pages {
    display: flex;
    flex-direction: column;
    padding: 0px;
    li {
        line-height: 30px;
        padding: 0 10px;
        cursor: pointer;
        &:hover {
            background: #fff;
        }
    }
}