<div class="meepo-design-left">
    <ul class="meepo-design-left-header">
        <li [class.active]="activeHistory" (click)="activeHistory = true">历史记录</li>
        <li [class.active]="!activeHistory" (click)="activeHistory = false">页面管理</li>
    </ul>
    <div class="meepo-design-left-container">
        <design-history *ngIf="activeHistory"></design-history>
        <design-pages *ngIf="!activeHistory"></design-pages>
    </div>
</div>
<design-library></design-library>
<design-preview (onClick)="setSetting($event)"></design-preview>
<design-setting></design-setting>

<div class="meepo-design-footer">
    <a href="javascript:;" (click)="saveToHistory()" class="meepo-design-footer-save">保存</a>
    <a href="javascript:;" (click)="previewToHistory()" class="meepo-design-footer-preview">预览</a>
    <a href="javascript:;" (click)="postToHistory()" class="meepo-design-footer-post">生成</a>
</div>