<ng-container *ngComponent="[props.settingProps];instance: props.instance"></ng-container>
<div class="meepo-design-setting-nav" *ngIf="props.fathersProps">
    <a href="javascript:;" (click)="setTopProps()" style="order: -99999;">顶级></a>
    <a href="javascript:;" (click)="setItemProps(item)" [style.order]="-i" *ngFor="let item of props.fathersProps;index as i;">{{item.title}}></a>
</div>
<div class="meepo-design-setting-drop" canDrop (canDropChange)="addComponent($event)">
    可将元素拖拽到此处添加
</div>
