.meepo-design {
    display: flex;
    height: 100%;
    width: 100%;
    &-history,
    &-library,
    &-preview,
    &-setting {
        min-height: 80px;
        position: relative;
    }
    &-history {
        display: block;
        background: #efefef;
        width: 250px;
        max-height: 100%;
        overflow: auto;
        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
            li {
                line-height: 30px;
                background: #efefef;
                cursor: pointer;
                &:hover {
                    opacity: .8;
                    background: #fff;
                }
            }
        }
    }
    &-library {
        display: block;
        background: gray;
        width: 200px;
    }
    &-preview {
        display: block;
        background: gray;
        width: 300px;
        &-container {
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
    }
    &-setting {
        display: block;
        background: gray;
        flex: 1;
    }
}