/* You can add global styles to this file, and also import other style files */

@import "~normalize.css";
@import "~weui/dist/style/weui.min.css";
@import "~devices.css/dist/devices.min.css";
@import "~devices.css/dist/spectre.min.css";
html,
body,
app-root {
    display: block;
    height: 100%;
}

antd-badge {
    display: inline-block;
    position: relative;
}